<header class="fundo-neutro mb-5">

    <!-- navbar para o celular -->
    <nav id="mobileNavbarBox" class="d-sm-none navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar"
                aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="mobileNavbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <!-- botão 01 -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}">Home</a>
                    </li>
                    <!-- botão 02 -->
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Categoria</a>
                    </li>
                    <!-- botão 03 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/sobre">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- cabeçalho -->
    <div class="py-5 text-center">
        <a href="{{ site.baseurl }}" class="InitOne h-InitOne" title="VOLTAR AO INÍCIO">InitOne</a>
    </div>

    <!-- navegação Vanilla -->
    <nav class="d-none d-none d-sm-block">
        <ul class="nav nav-tabs justify-content-center">
            <!-- botão 01 -->
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}">Home</a>
            </li>
            <!-- botão 02 -->
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Categoria</a>
            </li>
            <!-- botão 03 -->
            <li class="nav-item">
                <a class="nav-link" href="/sobre">Sobre</a>
            </li>
        </ul>
    </nav>
</header>

