{% include head.html %}

<body>

    {% include header.html %}

    <!-- o que fica entre o cabeçalho e o rodaPe- -->
    <div class="container-md">
        <div id="sessao" class="row">

            <!-- Sobre txt -->
            <section id="sobreTxt" class="estilizarLink">
                {{ content }}
            </section>
        </div>

        <div class="row">
            <section id="sobreTime">
                <h2>Time</h2>
                <div class="sobreCardPerfil"></div>
            </section>
        </div>
<!--

        <div class="row">
            <section id="sobreConvidados">
                <h2>Convidados</h2>
                <div class="sobreCardPerfil"></div>
            </section>
        </div>

-->
        
        <div class="row">
            <section>
                <h2>Parcerias</h2>
                <div class="text-center">

<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="https://raw.githubusercontent.com/ctf-br/branding/master/Logos/Padr%C3%A3o/PNG/CTF-BR(Colorido).png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">CTF-BR</h5>
        </div>
    </div>
</div>                

<div class="col">   
    <div class="card" style="width: 18rem;">
        <img src="https://i.imgur.com/tw9DcvT.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Boitatech</h5>
        </div>
    </div>
</div>

                
                </div>
            </section>
        </div>

    </div>

    {% include footer.html %}
    {% include footer_CardPerfil.html %}
    {% include footer_sobre.html %}

</body>

</html>
